################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/inf_recon/FileContentIndex
/.vs/inf_recon/v17
/.vs
